toolkit\debug\auto_well_data\googlesheets\token.json
*.bak
*.bak
.spyproject/config/backups/workspace.ini.bak
toolkit/debug/auto_well_data/googlesheets/token.json
toolkit/debug/well_grapher/creds/credentials.json
toolkit/debug/auto_well_data/googlesheets/credentials.json
toolkit/debug/auto_well_data/googlesheets/credentials.json
